---
import Water from "@/components/animations/Water.astro";
import TorchWall from "@/components/animations/TorchWall.astro";
import BaseHead from "@/components/layout/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			image="/og/index.png"
		/>
	</head>
	<body class="m-0 p-0 flex flex-col min-h-screen relative">
		<div id="background" class="fixed inset-0 w-full h-full -z-10">
			<TorchWall />
			<Water />
		</div>
		<div
			id="content"
			class="flex-1 flex justify-center items-end pb-40 gap-4 md:gap-12 text-2xl md:text-3xl font-bold z-20"
		>
			<a
				href="/projects"
				class="duration-500 text-white/50 hover:text-white/80 drop-shadow-[0_0_8px_rgba(255,255,255,0.5)]"
				transition:name={"Projects"}>Projects</a
			>
			<a
				href="/blog"
				class="duration-500 text-white/50 hover:text-white/80 drop-shadow-[0_0_8px_rgba(255,255,255,0.5)]"
				transition:name={"Blog"}>Blog</a
			>
			<a
				href="/contact"
				class="duration-500 text-white/50 hover:text-white/80 drop-shadow-[0_0_8px_rgba(255,255,255,0.5)]"
				transition:name={"Contact"}>Contact</a
			>
		</div>
	</body>
</html>

<style>
	body {
		background-color: black;
	}
</style>
