---
import { PythonEditor } from "@/components/python";
import BaseHead from "@/components/layout/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={SITE_TITLE}
            description={SITE_DESCRIPTION}
            image="/og/index.png"
        />
    </head>
    <body class="m-0 p-0 overflow-hidden">
        <PythonEditor client:load />
    </body>
</html>
