---
import { ArrowLeft } from "lucide-react";
---

<header>
    <div
        class="fixed inset-x-0 top-0 z-50 backdrop-blur duration-200 border-b bg-zinc-900/0 border-transparent"
    >
        <div
            class="container flex flex-row-reverse items-center justify-between p-6 mx-auto"
        >
            <div class="flex justify-between gap-8">
                <a
                    href="/projects"
                    class="duration-200 text-zinc-400 hover:text-zinc-100"
                >
                    Projects
                </a>
                <a
                    href="/contact"
                    class="duration-200 text-zinc-400 hover:text-zinc-100"
                >
                    Contact
                </a>
            </div>
            <a href="/" class="duration-200 text-zinc-300 hover:text-zinc-100">
                <ArrowLeft className="w-6 h-6" client:load />
            </a>
        </div>
    </div>
</header>

<script>
    const ref = document.querySelector("header");
    const observer = new IntersectionObserver(([entry]) => {
        const header = entry.target;
        if (entry.isIntersecting) {
            header.classList.add("bg-zinc-900/0", "border-transparent");
            header.classList.remove("bg-zinc-900/500", "border-zinc-800");
        } else {
            header.classList.add("bg-zinc-900/500", "border-zinc-800");
            header.classList.remove("bg-zinc-900/0", "border-transparent");
        }
    });

    if (ref) {
        observer.observe(ref);
    }
</script>
