---
import { type CollectionEntry, getCollection } from "astro:content";
import ProjectPost from "../../layouts/ProjectPost.astro";
import "@/styles/global.css";
import "@/styles/mdx.css";

import { render } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";

export async function getStaticPaths() {
	const posts = await getCollection("project");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<"project">;

const post = Astro.props;
const { Content } = await render(post);
---

<html lang="en">
	<head>
		<BaseHead 
			title={post.data.title} 
			description={post.data.description} 
			image={`/og/project/${post.id}.png`} 
		/>
	</head>
	<body>
		<ProjectPost {...post.data}>
			<article
				class="w-full md:w-3xl py-4 mx-auto prose prose-zinc prose-quoteless max-w-full px-4 sm:px-6"
			>
				<Content class="mdx" />
			</article>
		</ProjectPost>
	</body>
</html>
