---
import { ClientRouter } from "astro:transitions";
---

<html lang="en">
    <head>
        <ClientRouter />
        <link rel="sitemap" href="/sitemap.xml" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Parkinsans:wght@300..800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <slot />
    </body>
</html>
