body,html,.__next { 
  margin: 0 !important;
  z-index: 500;
}

.navbar {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0%;
}

.project{
  background-color: rgb(215, 215, 215);
  font-size: 10vw;
  height: 80vh;
  width: 90vw;
  border: 2px solid transparent;
  border-radius: 24px;
  box-shadow: 20px 33px 25px 5px grey, 
           0 40px 20px 5px #ccc,
           0 60px 5px 0px #fff;
}

.contact{
  padding:1rem;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 16px;
}

.reveal-text,
.reveal-text:after {
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0.1, 1, 0);
}

.reveal-text {
  margin-top: 40vh;
  position: relative;
  font-size: 10vw;
  user-select: none;
  animation-name: reveal-text;
  color: #000;
  white-space: nowrap;
  font-family: "Work Sans", sans-serif;
}
.reveal-text:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: revealer-text;
}

@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes revealer-text {
  0%, 50% {
    transform-origin: 0 50%;
  }
  60%, 100% {
    transform-origin: 100% 50%;
  }
  50% {
    transform: scaleX(1);
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}